.chessColumnWhite{
    background-color:#bbb;
}
.chessColumnBlack{
    background-color: #000000;
}
.block{
    width:10vh;
    height:10vh;
    clear: none;
    float:left;
    text-align: center;
}
.clearRow{
    clear:left;
}

.coinNumbering{
    font-size: 5vh;
    font-weight: bold;
    color: #bbb;
}

.chessColumnBlack>.coinPiece{
    font-size: 7vh;
    color: #bbb;
}

.chessColumnWhite>.coinPiece{
    font-size: 7vh;
    color: #444;
}

.miniature-chessboards {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.main-board {
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.main-board-row {
    display: flex;
    flex-wrap: nowrap;
}

.row-labels{
    display: flex;
    flex-direction: column;
}
.column-label{
    padding-right: 20px;
}