.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.chessCol{
 background-color: #eee;;
  height:50px;
}
body{
  background: linear-gradient(to right top, #105dd1, #4550b9, #5644a1, #5c398a, #5d3074);
}

.chessBoardArea{
  border:1px solid #aaa;
  min-height:90vh;
}

.placeQueensBtn{
  display: inline-block;
  padding: 5px 12px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.placeQueensBtn:hover {
  background-color: #2980b9;
}
.placeQueensBtnReset{
  display: inline-block;
  padding: 5px 12px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.placeQueensBtnReset:hover {
  background-color: #9e770d;
}

.buttons{
  display: block;
}

.controls {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.resetBtn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resetBtn:hover {
  background-color: #c60303;
}
