/*.Homepage {
    text-align: center;
  }*/
  
  .homepageArea{
    min-height:90vh;
    overflow:hidden;
  }

  .txtTitle {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: larger;
  }

  .imgGroupNumber {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;
    margin-top: 30px;
  }

  .backgdImg {
    backdrop-filter: blur(10px);
    overflow:hidden;
  }

  .txtStart {
    color: #fff;
    font-size: xx-large;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 500px;
    height: 100px;
    position: relative;
    left: 0px; ; top:200px;
  }
    
  /*.clsQueen {
    position: absolute;
    bottom: 15px;
    right: 24px;
    top: 90%;
    padding-bottom: 10px;
    padding-right: 42%;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
  }

  @keyframes example {
    0%   {right:0px; top:600px;}
    25%  {right:0px; top:500px;}
    50%  {right:0px; top:400px;}
    60%  {right:0px; top:300px;}
    70%  {right:0px; top:200px;}
    80%  {right:0px; top:150px;}
    85%  {right:0px; top:120px;}
    100%  {right:0px; top:100px;}
  }*/

  .clsQueen {
    position: absolute;
    right: 24px;
    padding-bottom: 10px;
    padding-right: 42%;
    top: 80%;
	  margin:20px;
    -webkit-transition: margin 2s ;
    -moz-transition: margin 2s ;
    -o-transition: margin 2s ;
    overflow:hidden;
    
  }

  .clsQueen:hover {
    cursor:pointer;
    margin-top: -300px; 
  }

  .startMsg {
    color: #b48608; 
    font-family: 'Times new roman', serif; 
    font-size: 20px; 
    text-align: center;
    padding-top: 21px;
    padding: 20px;
  }
    
    